* {
    padding: 0px;
    margin: 0px;
}
hr {
    margin: 10px 0px;
}
.button{
    padding: 0px 5px;
}
table {
    margin-top: 10px;
    border-collapse: collapse;
    width: 50%;
    margin-left: 5px;
}
table, th, td {
    border: 2px solid orange;
}
th {
    text-align: center;
    padding: 10px;
    background-color: gray;
    color: white;
}
td{
    vertical-align: middle;
    padding: 10px;
    text-align: center;
}
form {
    margin: 10px;
}
#chartdiv {
  width: 100%;
  height: 500px;
}
